DATABASE_URL=postgres://user:password@localhost:5432/dbname
API_KEY="your_api_key_here"
JWT_SECRET="your_jwt_secret_here"
MONGO_URI=mongodb://localhost:27017
MONGO_DB=your_database
NASA_API_KEY="your_nasa_api_key"